*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container
{
    min-height: 100vh;
    width: 100%;
    background-color: #e5e5e5;
    padding: 50px;
}

.header{
    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app_name{
    font-size: 30px;
    font-weight: 400;
    font-family: segoe UI;
    /* background-color: yellow; */
    padding: 0px 20px;
}

.buttons{
    height: 100px;
    width: 20%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.btn{
    padding: 15px 40px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    font-family: segoe UI;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;

}

.btn:hover {
    box-shadow: 0px 0px 5px gray;
}

.btn-new{
    background-color: yellowgreen;
    color: white;
}

.btn-save {
    background-color: #bb7f11;
    color: white;
}

/* css for notes  */

.notes{
   
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(15%/4);
    row-gap: 30px;
    /* background-color: red; */
}

.note{
   
    width: 17%;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 0 0 5px gray;
    padding: 20px;
}

.title
{
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: segoe UI;
    border: none;
    background-color: transparent;
    outline: none;
}

.content{
    width: 100%;
    height: 300px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 18px;
    margin-top: 20px;
    resize: none;
}

img {
    width: 20px;
    cursor: pointer;
    transition: .3s;
}

img:hover{
    transform: scale(1.2);
}